<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4J_NBbmFbUa0o_-u8ExTDDR23Whpx0jY</string>
	<key>GCM_SENDER_ID</key>
	<string>534116838579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneylover</string>
	<key>PROJECT_ID</key>
	<string>flutter-add-b45a3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-add-b45a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534116838579:ios:44b55870370766156cd4c6</string>
</dict>
</plist>